@font-face {
  font-family: raleway;
  src: url(../fonts/raleway/raleway-regular.ttf);
}

@font-face {
  font-family: raleway-bold;
  src: url(../fonts/raleway/raleway-bold.ttf);
}

@font-face {
  font-family: raleway-semibold;
  src: url(../fonts/raleway/raleway-semibold.ttf);
}

@font-face {
  font-family: montserrat;
  src: url(../fonts/montserrat/montserrat-regular.ttf);
}

@font-face {
  font-family: montserrat-bold;
  src: url(../fonts/montserrat/montserrat-bold.ttf);
}

@font-face {
  font-family: montserrat-semibold;
  src: url(../fonts/montserrat/montserrat-semibold.ttf);
}

.container {
  width: 1920px;
  margin: 0 auto;
  border: 1px solid black;
}

.main-header {
  width: 100%;
  height: 1024px;
  background-image: url(../img/photo-bn.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: contain, 200%;
  ;
  padding: 40px;
  box-sizing: border-box;
}

.logo-a {
  margin-left: 150px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  text-decoration: none;
}

.logo-span {
  color: #ffffff;
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 34px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: -1.36px;
  text-align: right;
}

.logo-svg {
  fill: #ffffff;
}

.logo-a:hover .logo-svg {
  fill: #c7b299;
  stroke: #ffffff;
}

.logo-a:hover .logo-span {
  color: #c7b299;
}

.logo-a:active .logo-span {
  color: red;
}

.logo-a:active .logo-svg {
  fill: red;
  stroke: #ffffff;
}

.menu {
  margin-top: -50px;
  margin-right: 500px;
}

.menu li {
  float: right;
  padding-left: 30px;
  list-style-type: none;
}

.menu a {
  text-decoration: none;
  color: #ffffff;
  font-family: 'arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: capitalize;
}

.menu a:hover {
  text-decoration: none;
  font-family: 'arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: capitalize;
  color: #c7b299;
}

.menu a:active {
  text-decoration: none;
  font-family: 'arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-transform: capitalize;
  color: red;
}

.searsh {
  position: relative;
  padding-left: 1400px;
  box-sizing: border-box;
}

.basket {
  display: block;
  margin-top: -20px;
  margin-left: 1400px;
  float: left;
  background-color: #383B3E;
  border: none;
}

.basket:hover {
  color: white;
  background-color: orange;
}

.basket:active {
  color: black;
  background-color: red;
}

form {
  float: left;
  margin-top: -20px;
  margin-left: 33px;
  box-sizing: border-box;
}

input[type="search"] {
  width: 24px;
  height: 24px;
  outline: none;
  background-image: url('../img/icon/icon-search.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #3D4041;
  border: none;
}

input[type="search"]:hover {
  width: 30px;
  height: 30px;
}

input[type="search"]:active {
  background-color: red;
  width: 300px;
}

input[type="search"]:focus {
  width: 300px;
  transition: width 1s ease-out;
  background-position: right;
}

section {
  float: left;
}

.botton-header {
  position: relative;
  width: 40px;
  height: 73px;
  float: left;
  display: block;
  padding-top: 475px;
  text-decoration: none;
  box-sizing: border-box;
  color: #ffffff;
}

.botton-header:after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-bottom: 2px solid #d3c1ad;
  border-left: 2px solid #d3c1ad;
  transform: rotate(45deg);
  position: absolute;
  top: 410px;
  left: 181px;
}

.botton-header:hover:after {
  border-bottom: 2px solid orange;
  border-left: 2px solid orange;
}

.botton-header:active:after {
  border-bottom: 2px solid red;
  border-left: 2px solid red;
}

.botton-header2 {
  position: relative;
  width: 40px;
  height: 73px;
  float: left;
  display: block;
  padding-top: 475px;
  text-decoration: none;
  box-sizing: border-box;
  color: #ffffff;
}

.botton-header2:after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-top: 2px solid #d3c1ad;
  border-right: 2px solid #d3c1ad;
  transform: rotate(45deg);
  position: absolute;
  top: 410px;
  left: 1581px;
}

.botton-header2:hover:after {
  border-top: 2px solid orange;
  border-right: 2px solid orange;
}

.botton-header2:active:after {
  border-top: 2px solid red;
  border-right: 2px solid red;
}

.port {
  margin-top: 294px;
  margin-left: 556px;
  text-align: center;
  float: left;
}

.uni {
  display: block;
  color: #ffffff;
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 36px;
  font-weight: 500;
}

.po {
  display: block;
  color: #ffffff;
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 52px;
  font-weight: 800;
}

.nm {
  width: 562px;
  height: 39px;
  color: #ffffff;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.get {
  margin: 834px;
  margin-top: 504px;
  margin-bottom: 370px;
  display: block;
  width: 170px;
  height: 53px;
  color: #ffffff;
  background-color: #998675;
  text-decoration: none;
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 23px;
  text-transform: uppercase;
  border-radius: 5px;
  text-align: center;
  padding-top: 15px;
  box-sizing: border-box;
}

.get:hover {
  color: white;
  background-color: orange;
}

.get:active {
  color: black;
  background-color: red;
}

.pagination {
  display: block;
  margin-top: -56px;
  margin-left: 848px;
}

.pagination a {
  margin-left: 8px;
  float: left;
  width: 11px;
  height: 11px;
  border: 2px solid #998675;
  background-color: #959493;
  border-radius: 50%;
  text-decoration: none;
}

.pagination a:hover {
  display: block;
  width: 11px;
  height: 11px;
  border: 2px solid transparent;
  background-color: #191A1F;
  border-radius: 50%;
  border: 2px solid #998675;
  text-decoration: none;
}

.pagination a:nth-child(2) {
  display: block;
  width: 11px;
  height: 11px;
  border: 2px solid transparent;
  background-color: #191A1F;
  border-radius: 50%;
  border: 2px solid #998675;
}

.pagination a:nth-child(2):hover {
  display: block;
  width: 11px;
  height: 11px;
  border: 2px solid transparent;
  background-color: #959493;
  border-radius: 50%;
  border: 2px solid #998675;
}

.main-article {
  content: "";
  display: block;
  width: 100%;
  clear: both;
  background-color: #ffffff;
}

.main-article-web {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 266px;
  float: left;
  padding-top: 84px;
  padding-bottom: 84px;
  text-align: center;
  margin-left: 362px;
}

.main-article-web a {
  text-decoration: none;
}

.web {
  padding-left: 19px;
  padding-bottom: 26px;
}

.main-article-web:after {
  display: block;
  content: "";
  margin: 0 auto;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  align-self: flex-end;
}

.main-article-web:hover:after {
  background-color: #c7b299;
  width: 70px;
  height: 3px;
}

.main-article-web:hover .web {
  fill: #998675;
}

.main-article-web:hover .capit {
  color: #C7B299;
}

.main-article-dev a {
  text-decoration: none;
}

.main-article-dev {
  width: 266px;
  float: left;
  margin-top: 92px;
  margin-left: 50px;
}

.dev {
  padding-left: 107px;
  padding-bottom: 18px;
}

.dev:hover {
  fill: #998675;
}

.main-article-dev:hover:after {
  background-color: #c7b299;
  width: 70px;
  height: 3px;
}

.main-article-dev:after {
  display: block;
  content: "";
  margin: 0 auto;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  align-self: flex-end;
}

.main-article-dev:hover .capit {
  color: #C7B299;
}

.main-article-cus {
  width: 266px;
  float: left;
  margin-top: 84px;
  margin-left: 50px;
}

.main-article-cus a {
  text-decoration: none;
}

.cus {
  padding-left: 107px;
  padding-bottom: 22px;
}

.cus:hover {
  fill: #998675;
}

.main-article-cus:hover:after {
  background-color: #c7b299;
  width: 70px;
  height: 3px;
}

.main-article-cus:after {
  display: block;
  content: "";
  margin: 0 auto;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  align-self: flex-end;
}

.main-article-cus:hover .capit {
  color: #C7B299;
}

.main-article-mar {
  width: 266px;
  float: left;
  margin-top: 84px;
  margin-left: 50px;
}

.main-article-mar a {
  text-decoration: none;
}

.mar {
  padding-left: 107px;
  padding-bottom: 22px;
}

.mar:hover {
  fill: #998675;
}

.main-article-mar:hover:after {
  background-color: #c7b299;
  width: 70px;
  height: 3px;
}

.main-article-mar:after {
  display: block;
  content: "";
  margin: 0 auto;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
  align-self: flex-end;
}

.main-article-mar:hover .capit {
  color: #C7B299;
}

.capit {
  display: block;
  text-transform: capitalize;
  color: #555555;
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.nam {
  display: block;
  color: #8c8c8c;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-indent: 20px;
  text-align: center;
}

.as {
  width: 100%;
  background-color: #fbfaf8;
  content: "";
  box-sizing: border-box;
  clear: both;
}

.span-r {
  padding-top: 83px;
}

.waxom {
  text-align: center;
  display: block;
  color: #555555;
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.waxom-p {
  padding-left: 544px;
  text-align: center;
  width: 757px;
  height: 43px;
  color: #8c8c8c;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.bag {
  margin-bottom: -1px;
}

.parent {
  width: 770px;
  height: 400px;
  margin-top: -40px;
  background-image: url(../img/browser-left.png);
  margin-top: 120px;
  margin-left: 310px;
  box-sizing: border-box;
}

.child {
  width: 770px;
  height: 482px;
  margin-left: 539px;
  margin-top: -482px;
  background-image: url(../img/browser-center.png);
  top: 0px;
  left: 1px;
  right: 0;
  bottom: 0;
  z-index: 1;
  position: relative;
}

.bro-r {
  width: 770px;
  height: 400px;
  margin-left: 800px;
  margin-top: -400px;
  background-image: url(../img/browser-right.png);
  top: 296px;
  right: 377px;
  bottom: 0;
  z-index: 0;
}

.multi {
  width: 100%;
  height: 150px;
  background-image: url(../img/background2.png);
  padding-left: 360px;
  box-sizing: border-box;
  margin-top: -18px;
  clear: both;
}

.main-aside-span {
  display: block;
  margin-top: 48px;
  float: left;
  color: #ffffff;
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: relative;
}

.main-aside-span2 {
  display: block;
  float: left;
  color: #c7b299;
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 28px;
  font-weight: 400;
  position: relative;
}

.main-aside-p {
  width: 456px;
  height: 18px;
  color: #615855;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

.main-aside-a {
  display: block;
  float: right;
  margin-top: 10px;
  margin-right: 420px;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 170px;
  height: 50px;
  box-shadow: inset 0 -3px 0 #736357;
  border-radius: 3px;
  color: #ffffff;
  background-color: #998675;
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 23px;
  padding-top: 15px;
  text-align: center;
  box-sizing: border-box;
}

.main-aside-a:hover {
  color: white;
  background-color: orange;
}

.main-aside-a:active {
  color: black;
  background-color: red;
}

.our-section {
  width: 100%;
}

.our {
  margin: auto;
  padding-top: 80px;
  display: block;
  text-align: center;
  width: 275px;
  height: 28px;
  color: #555555;
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 30px;
  font-weight: 600;
}

.our-p {
  padding-left: 560px;
  width: 757px;
  height: 43px;
  color: #8c8c8c;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}

.our-menu {
  list-style-type: none;
  margin-left: 554px;
}

.our-menu li {
  margin-left: 10px;
  width: 120px;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  float: left;
  text-align: center;
  padding-top: 5px;
  box-sizing: border-box;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
}

.our-a {
  display: block;
  text-decoration: none;
  color: #8c8c8c;
}

.our-a:hover {
  color: #ffffff;
  background-color: #998675;
}

.our-menu li:hover {
  color: #ffffff;
  background-color: #998675;
}

.our-div1 {
  width: 100%;
  float: left;
  margin-top: 40px;
  margin-left: 376px;
}

.our-div1 a {
  text-decoration: none;
}

.our-div1 span {
  display: block;
  padding-top: 30px;
  padding-left: 28px;
  padding-bottom: 8px;
  width: 229px;
  height: 15px;
  color: #c7b299;
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.our-div1 p {
  padding-left: 30px;
  padding-bottom: 30px;
  color: #d1d1d1;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.claritas {
  float: left;
  width: 370px;
  height: 337px;
  background-color: #fbfaf8;
  position: relative;
}

.our-p2 {
  width: 200px;
  height: 14px;
}

.claritas:hover img {
  filter: brightness(30%);
  z-index: 0;
}

.claritas:hover {
  background-color: #362f2d;
}

.claritas-ps:hover:before {
  content: '';
  width: 26px;
  height: 25px;
  top: 107px;
  left: 143px;
  position: absolute;
  background-image: url(../img/link-our.svg);
  background-repeat: no-repeat;
  z-index: 1;
}

.claritas-ps:hover:after {
  content: '';
  width: 26px;
  height: 25px;
  top: 107px;
  left: 190px;
  position: absolute;
  background-image: url(../img/lupa-our.svg);
  background-repeat: no-repeat;
  z-index: 1;
}

.claritas:hover .our-span {
  color: #ffffff;
}

.claritas:hover .our-p2 {
  color: #c7b299;
}

.claritas:before {
  content: "";
  border: 20px solid transparent;
  border-bottom: 20px solid #fbfaf8;
  position: absolute;
  top: 202px;
  left: 12px;
}

.claritas:hover:before {
  content: "";
  border: 20px solid transparent;
  border-bottom: 20px solid #362f2d;
  position: absolute;
  top: 202px;
  left: 12px;
  z-index: 1;
}

.quam {
  float: left;
  margin-left: 30px;
  width: 370px;
  height: 337px;
  background-color: #fbfaf8;
  position: relative;
}

.quam:hover img {
  filter: brightness(30%);
}

.quam:hover {
  background-color: #362f2d;
}

.quam:hover:before {
  border-bottom: 20px solid #362f2d;
}

.quam:hover .our-span {
  color: #ffffff;
}

.quam:hover .our-p2 {
  color: #c7b299;
}

.quam:before {
  content: "";
  border: 20px solid transparent;
  border-bottom: 20px solid #fbfaf8;
  position: absolute;
  top: 202px;
  left: 12px;
}

.quam:hover:before {
  content: "";
  border: 20px solid transparent;
  border-bottom: 20px solid #362f2d;
  position: absolute;
  top: 202px;
  left: 12px;
  z-index: 1;
}

.quam-ps:hover:before {
  content: '';
  width: 26px;
  height: 25px;
  top: 107px;
  left: 143px;
  position: absolute;
  background-image: url(../img/link-our.svg);
  background-repeat: no-repeat;
  z-index: 1;
}

.quam-ps:hover:after {
  content: '';
  width: 26px;
  height: 25px;
  top: 107px;
  left: 190px;
  position: absolute;
  background-image: url(../img/lupa-our.svg);
  background-repeat: no-repeat;
  z-index: 1;
}

.usus {
  float: left;
  margin-left: 30px;
  width: 370px;
  height: 337px;
  background-color: #fbfaf8;
  position: relative;
}

.usus:hover img {
  filter: brightness(30%);
}

.usus:hover {
  background-color: #362f2d;
}

.usus:hover:before {
  border-bottom: 20px solid #362f2d;
}

.usus:hover .our-span {
  color: #ffffff;
}

.usus:hover .our-p2 {
  color: #c7b299;
}

.usus:before {
  content: "";
  border: 20px solid transparent;
  border-bottom: 20px solid #fbfaf8;
  position: absolute;
  top: 202px;
  left: 12px;
}

.usus:hover:before {
  content: "";
  border: 20px solid transparent;
  border-bottom: 20px solid #362f2d;
  position: absolute;
  top: 202px;
  left: 12px;
  z-index: 1;
}

.usus-ps:hover:before {
  content: '';
  width: 26px;
  height: 25px;
  top: 107px;
  left: 143px;
  position: absolute;
  background-image: url(../img/link-our.svg);
  background-repeat: no-repeat;
  z-index: 1;
}

.usus-ps:hover:after {
  content: '';
  width: 26px;
  height: 25px;
  top: 107px;
  left: 190px;
  position: absolute;
  background-image: url(../img/lupa-our.svg);
  background-repeat: no-repeat;
  z-index: 1;
}

.our-div2 {
  width: 100%;
  float: left;
  margin-top: 30px;
  margin-left: 376px;
}

.our-div2 a {
  text-decoration: none;
}

.our-div2 span {
  display: block;
  padding-top: 30px;
  padding-left: 28px;
  padding-bottom: 8px;
  width: 229px;
  height: 15px;
  color: #c7b299;
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.our-div2 p {
  padding-left: 30px;
  padding-bottom: 30px;
  color: #d1d1d1;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.claritas-two {
  float: left;
  width: 370px;
  height: 337px;
  background-color: #fbfaf8;
  position: relative;
}

.claritas-two:hover img {
  filter: brightness(30%);
}

.claritas-two:hover {
  background-color: #362f2d;
}

.claritas-two:hover:before {
  border-bottom: 20px solid #362f2d;
}

.claritas-two:hover .our-span {
  color: #ffffff;
}

.claritas-two:hover .our-p2 {
  color: #c7b299;
}

.claritas-two:before {
  content: "";
  border: 20px solid transparent;
  border-bottom: 20px solid #fbfaf8;
  position: absolute;
  top: 202px;
  left: 12px;
}

.claritas-two:hover:before {
  content: "";
  border: 20px solid transparent;
  border-bottom: 20px solid #362f2d;
  position: absolute;
  top: 202px;
  left: 12px;
  z-index: 1;
}

.claritas-two-ps:hover:before {
  content: '';
  width: 26px;
  height: 25px;
  top: 107px;
  left: 143px;
  position: absolute;
  background-image: url(../img/link-our.svg);
  background-repeat: no-repeat;
  z-index: 1;
}

.claritas-two-ps:hover:after {
  content: '';
  width: 26px;
  height: 25px;
  top: 107px;
  left: 190px;
  position: absolute;
  background-image: url(../img/lupa-our.svg);
  background-repeat: no-repeat;
  z-index: 1;
}

.quam-two {
  float: left;
  margin-left: 30px;
  width: 370px;
  height: 337px;
  background-color: #fbfaf8;
  position: relative;
}

.quam-two:hover img {
  filter: brightness(30%);
}

.quam-two:hover {
  background-color: #362f2d;
}

.quam-two:hover:before {
  border-bottom: 20px solid #362f2d;
}

.quam-two:hover .our-span {
  color: #ffffff;
}

.quam-two:hover .our-p2 {
  color: #c7b299;
}

.quam-two:before {
  content: "";
  border: 20px solid transparent;
  border-bottom: 20px solid #fbfaf8;
  position: absolute;
  top: 202px;
  left: 12px;
}

.quam-two:hover:before {
  content: "";
  border: 20px solid transparent;
  border-bottom: 20px solid #362f2d;
  position: absolute;
  top: 202px;
  left: 12px;
  z-index: 1;
}

.quam-two-ps:hover:before {
  content: '';
  width: 26px;
  height: 25px;
  top: 107px;
  left: 143px;
  position: absolute;
  background-image: url(../img/link-our.svg);
  background-repeat: no-repeat;
  z-index: 1;
}

.quam-two-ps:hover:after {
  content: '';
  width: 26px;
  height: 25px;
  top: 107px;
  left: 190px;
  position: absolute;
  background-image: url(../img/lupa-our.svg);
  background-repeat: no-repeat;
  z-index: 1;
}

.usus-two {
  float: left;
  margin-left: 30px;
  width: 370px;
  background-color: #fbfaf8;
  height: 337px;
  position: relative;
}

.usus-two:hover img {
  filter: brightness(30%);
}

.usus-two:hover {
  background-color: #362f2d;
}

.usus-two:hover:before {
  border-bottom: 20px solid #362f2d;
}

.usus-two:hover .our-span {
  color: #ffffff;
}

.usus-two:hover .our-p2 {
  color: #c7b299;
}

.usus-two:before {
  content: "";
  border: 20px solid transparent;
  border-bottom: 20px solid #fbfaf8;
  position: absolute;
  top: 202px;
  left: 12px;
}

.usus-two:hover:before {
  content: "";
  border: 20px solid transparent;
  border-bottom: 20px solid #362f2d;
  position: absolute;
  top: 202px;
  left: 12px;
  z-index: 1;
}

.usus-two-ps:hover:before {
  content: '';
  width: 26px;
  height: 25px;
  top: 107px;
  left: 143px;
  position: absolute;
  background-image: url(../img/link-our.svg);
  background-repeat: no-repeat;
  z-index: 1;
}

.usus-two-ps:hover:after {
  content: '';
  width: 26px;
  height: 25px;
  top: 107px;
  left: 190px;
  position: absolute;
  background-image: url(../img/lupa-our.svg);
  background-repeat: no-repeat;
  z-index: 1;
}

.get-two {
  margin: 834px;
  margin-top: 60px;
  outline: none;
  width: 170px;
  height: 53px;
  color: #ffffff;
  background-color: #998675;
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 23px;
  text-transform: uppercase;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
}

.get-two:hover {
  color: white;
  background-color: orange;
}

.get-two:active {
  color: black;
  background-color: red;
}

.video {
  margin-top: -730px;
  position: relative;
}

.play {
  width: 552px;
  position: absolute;
  top: 17px;
  left: 647px;
  box-sizing: border-box;
}

.play-button {
  outline: none;
  margin-left: 225px;
  margin-top: 150px;
  background-image: url(../img/play-video.png);
  width: 100px;
  height: 100px;
  background-color: #000000;
  opacity: 0.2;
}

.play-button:hover {
  background-image: url(../img/play-video.png);
  width: 100px;
  height: 100px;
  background-color: #000000;
  ;
  opacity: 0.5;
}

.span-button {
  margin: auto;
  margin-top: -20px;
  text-transform: capitalize;
  display: block;
  padding-top: 100px;
  width: 382px;
  height: 22px;
  color: #ffffff;
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.play p {
  padding-top: 15px;
  text-align: center;
  width: 552px;
  height: 43px;
  color: #ffffff;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.time {
  display: block;
  margin: auto;
  padding-top: 40px;
  width: 36px;
  height: 10px;
  color: #c7b299;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.excellent {
  max-width: 100%;
  margin-top: -23px;
  background-color: #fbfaf8;
}

.excellent-img {
  display: block;
  padding-top: 79px;
  padding-left: 423px;
  float: left;
}

.excellent-span {
  width: 657px;
  float: right;
  margin-right: 320px;
  margin-top: 195px;
  position: relative;
}

.excellent-span span {
  text-transform: capitalize;
  width: 407px;
  height: 22px;
  color: #555555;
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.excellent-span p {
  width: 657px;
  height: 99px;
  color: #8c8c8c;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
}

.excellent-span a {
  text-decoration: none;
  color: #8c8c8c;
}

.excellent-span ul {
  padding-top: 30px;
  margin-left: 50px;
}

.excellent-span li {
  list-style-type: none;
  color: #8c8c8c;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 32px;
}

.excellent-span li:before {
  content: "";
  width: 21px;
  height: 21px;
  background-image: url(../img/icon/01w.png);
  position: absolute;
  top: 199px;
  left: 51px;
}

.excellent-span li:after {
  content: "";
  width: 21px;
  height: 21px;
  background-image: url(../img/icon/01w.png);
  position: absolute;
  top: 230px;
  ;
  left: 51px;
}

.excel-ul li:before {
  content: "";
  width: 21px;
  height: 21px;
  background-image: url(../img/icon/01w.png);
  position: absolute;
  top: 199px;
  ;
  left: 51px;
}

.excellent-span li:after {
  content: "";
  width: 21px;
  height: 21px;
  background-image: url(../img/icon/01w.png);
  position: absolute;
  top: 230px;
  ;
  left: 51px;
}

.excellent-span ul:before {
  content: "";
  width: 21px;
  height: 21px;
  background-image: url(../img/icon/01w.png);
  position: absolute;
  top: 261px;
  left: 51px;
}

.excellent-span ul:after {
  content: "";
  width: 21px;
  height: 21px;
  background-image: url(../img/icon/01w.png);
  position: absolute;
  top: 291px;
  ;
  left: 51px;
}

.satis {
  width: 100%;
  height: 300px;
  background-color: #f4f5f8;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.satis-title {
  padding-top: 100px;
  text-align: center;
  color: #ffffff;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 36px;
}

.satis-txt {
  width: 150px;
  margin-top: -25px;
  text-align: center;
  color: #c7b299;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
}

.satis-one {
  width: 150px;
  position: relative;
}

.satis-one:before {
  width: 44px;
  height: 44px;
  content: "";
  position: absolute;
  background-image: url(../img/icon/icon-our1.png);
  top: 64px;
  left: 50px;
}

.satis-one:after {
  content: "";
  position: absolute;
  top: 239px;
  left: 58px;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}

.satis-two {
  width: 150px;
  position: relative;
  margin-left: 50px;
}

.satis-two:before {
  width: 48px;
  height: 44px;
  content: "";
  position: absolute;
  background-image: url(../img/icon/icon-our2.png);
  top: 64px;
  left: 50px;
}

.satis-two:after {
  content: "";
  position: absolute;
  top: 239px;
  left: 58px;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}

.satis-free {
  width: 150px;
  position: relative;
  margin-left: 50px;
}

.satis-free:before {
  width: 44px;
  height: 44px;
  content: "";
  position: absolute;
  background-image: url(../img/icon/icon-our3.png);
  top: 64px;
  left: 50px;
}

.satis-free:after {
  content: "";
  position: absolute;
  top: 239px;
  left: 58px;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}

.satis-four {
  width: 150px;
  position: relative;
  margin-left: 50px;
}

.satis-four:before {
  width: 44px;
  height: 44px;
  content: "";
  position: absolute;
  background-image: url(../img/icon/icon-our4.png);
  top: 64px;
  left: 50px;
}

.satis-four:after {
  content: "";
  position: absolute;
  top: 239px;
  left: 58px;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}

.satis-five {
  width: 150px;
  position: relative;
  margin-left: 50px;
}

.satis-five:before {
  width: 54px;
  height: 44px;
  content: "";
  position: absolute;
  background-image: url(../img/icon/icon-our5.png);
  top: 64px;
  left: 50px;
}

.satis-five:after {
  content: "";
  position: absolute;
  top: 239px;
  left: 58px;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}

.recent {
  width: 100%;
  box-sizing: border-box;
}

.recent p {
  float: left;
  width: 757px;
  margin-left: -463px;
  padding-top: 111px;
  text-align: center;
  color: #8c8c8c;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  box-sizing: border-box;
}

.recent-free {
  width: 100%;
  margin-top: 219px;
  display: flex;
  justify-content: center;
}

.sep-one {
  width: 370px;
  float: left;
}

.sep-two {
  width: 370px;
  float: left;
  margin-left: 30px;
}

.sep-free {
  width: 370px;
  float: left;
  margin-left: 30px;
}

.recent-h2 {
  display: block;
  width: 190px;
  padding-top: 75px;
  margin-left: 857px;
  text-transform: capitalize;
  text-align: center;
  float: left;
  color: #555555;
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.recent-one-title {
  width: 100%;
  margin-top: -5px;
  min-height: 175px;
  border: 1px solid #f8f8f8;
  position: relative;
}

.recent-one-title span {
  display: block;
  padding-left: 29px;
  padding-top: 30px;
  color: #555555;
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.recent-one-title p {
  margin-top: -100px;
  margin-left: 29px;
  text-align: left;
  width: 297px;
  height: 36px;
  color: #8c8c8c;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.recent-one-title a {
  padding-top: 83px;
  padding-left: 29px;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  color: #c7b299;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.recent-one-title a:before {
  content: " ";
  width: 5px;
  height: 8px;
  top: 141px;
  left: 114px;
  background-image: url(../img/icon/arrow-rec.png);
  position: absolute;
}

.recent-one-title a:after {
  content: " ";
  width: 50px;
  height: 60px;
  top: -197px;
  left: 27px;
  background-image: url(../img/icon/date1.png);
  position: absolute;
}

.sep-one:hover .recent-one-title a:after {
  content: " ";
  width: 50px;
  height: 60px;
  top: -197px;
  left: 27px;
  background-image: url(../img/icon/date2.png);
  position: absolute;
}

.sep-two:hover .recent-one-title a:after {
  content: " ";
  width: 50px;
  height: 60px;
  top: -197px;
  left: 27px;
  background-image: url(../img/icon/date2.png);
  position: absolute;
}

.sep-free:hover .recent-one-title a:after {
  content: " ";
  width: 50px;
  height: 60px;
  top: -197px;
  left: 27px;
  background-image: url(../img/icon/date2.png);
  position: absolute;
}

.recent-one-title a:hover {
  color: orange;
}

.recent-one-title a:active {
  color: red;
}

.sep-one:hover .recent-one-title {
  background-color: #362F2D;
}

.sep-two:hover .recent-one-title {
  background-color: #362F2D;
}

.sep-free:hover .recent-one-title {
  background-color: #362F2D;
}

.sep-one:hover {
  background-color: rgba(17, 17, 17, 0.7);
  background-color: #777777;
}

.sep-one:hover img {
  filter: brightness(30%);
}

.sep-one:hover {
  background-color: #362f2d;
  color: #c7b299;
}

.recent-one-title {
  border: none;
}

.sep-one:hover .rec-p {
  color: #ffffff;
}

.sep-two:hover .rec-span {
  color: #c7b299;
}

.sep-two:hover:before {
  border-bottom: 20px solid #362f2d;
}

.sep-two:hover .rec-p {
  color: #ffffff;
}

.sep-free:hover .rec-span {
  color: #c7b299;
}

.sep-free:hover:before {
  border-bottom: 20px solid #362f2d;
}

.sep-free:hover .rec-p {
  color: #ffffff;
}

.sep-one:hover .rec-span {
  color: #c7b299;
}

.sep-one:hover:before {
  border-bottom: 20px solid #362f2d;
}

.rec-but1 {
  width: 22px;
  height: 22px;
  border: none;
  border-radius: 50%;
  margin-top: 30px;
  margin-left: 928px;
  background-color: #ffffff;
  background-image: url(../img/icon/left-rec.svg);
}

.rec-but2 {
  width: 22px;
  height: 22px;
  margin-left: 10px;
  border: none;
  border-radius: 50%;
  margin-top: 30px;
  background-color: #ffffff;
  background-image: url(../img/icon/right-rec.svg);
}

.rec-but1:hover {
  background-color: orange;
}

.rec-but1:active {
  background-color: red;
}

.rec-but2:hover {
  background-color: orange;
}

.rec-but2:active {
  background-color: red;
}

.main-for {
  width: 100%;
}

.for-section {
  width: 1920px;
  height: 489px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 100px;
  background-image: url(../img/background-footer.png);
}

.barber-div {}

.barber-a {
  margin-top: 181px;
  margin-bottom: 181px;
  padding-left: 90px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.barber-a img:hover {
  border-radius: 15px;
  background-color: #292C31;
}

footer {
  width: 100%;
}

.main-footer {
  width: 1920px;
  min-height: 508px;
  background-color: #191919;
  position: relative;
}

.logo-p {
  width: 258px;
  height: 155px;
  margin-left: 376px;
  color: #555555;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

article {
  position: relative;
  float: left;
}

.main-footer-a {
  padding-top: 26px;
  padding-left: 376px;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  color: #d1d1d1;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.main-footer-a:after {
  content: " ";
  width: 5px;
  height: 8px;
  top: 350px;
  left: 466px;
  background-image: url(../img/icon/arrow-footer.png);
  position: absolute;
}

.main-footer-a:hover {
  color: #c7b299;
}

.main-footer-a:hover:after {
  background-image: url(../img/icon/arrow-rec.png);
}

.logo-a-footer {
  margin-top: 80px;
  margin-left: 376px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  text-decoration: none;
}

.logo-span-footer {
  color: #ffffff;
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 34px;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: -1.36px;
  text-align: right;
}

.logo-svg-footer {
  fill: #ffffff;
}

.logo-a-footer:hover .logo-svg-footer {
  fill: #c7b299;
  stroke: #ffffff;
}

.logo-a-footer:hover .logo-span-footer {
  color: #c7b299;
}

.logo-a-footer:active .logo-span-footer {
  color: red;
}

.logo-a-footer:active .logo-svg-footer {
  fill: red;
  stroke: #ffffff;
}

.posts {
  width: 270px;
  float: left;
  margin-top: 78px;
  margin-left: 41px;
  margin-bottom: 70px;
}

.posts:before {
  content: " ";
  top: 231px;
  left: 677px;
  background-image: url(../img/icon/01-post.png);
  position: absolute;
  width: 270px;
  height: 1px;
  background-color: #595f6f;
}

.posts:after {
  content: " ";
  top: 347px;
  left: 677px;
  background-image: url(../img/icon/01-post.png);
  position: absolute;
  width: 270px;
  height: 1px;
  background-color: #595f6f;
}

.posts p {
  font-family: 'montserrat', 'arial', sans-serif;
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.p-3 {
  color: #ffffff;
}

.posts h2 {
  text-transform: capitalize;
  width: 150px;
  height: 17px;
  color: #ffffff;
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.twitter {
  width: 270px;
  float: left;
  margin-top: 78px;
  margin-left: 41px;
}

.twitter h2 {
  text-transform: capitalize;
  width: 150px;
  height: 17px;
  color: #ffffff;
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.widget {
  width: 300px;
  float: left;
  margin-top: 78px;
  margin-left: 41px;
}

.widget h2 {
  text-transform: capitalize;
  width: 190px;
  height: 17px;
  color: #ffffff;
  font-family: 'raleway', 'arial', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.posts .p-3 {
  color: #ffffff;
  padding-top: 30px;
}

.posts .p-4 {
  color: #c7b299;
}

.posts .p-5 {
  padding-top: 30px;
}

.twitter:before {
  content: " ";
  top: 231px;
  left: 987px;
  background-image: url(../img/icon/01-post.png);
  position: absolute;
  width: 270px;
  height: 1px;
  background-color: #595f6f;
}

.twitter:after {
  content: " ";
  top: 367px;
  left: 987px;
  background-image: url(../img/icon/01-post.png);
  position: absolute;
  width: 270px;
  height: 1px;
  background-color: #595f6f;
}

.twitter p {
  font-family: 'montserrat', 'arial', sans-serif;
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.p-3 {
  color: #ffffff;
}

.p-9 {
  color: #00bff3;
}

.p-8 {
  color: #959595;
}

.p-7 {
  padding-top: 30px;
}

.p-6 {
  padding-top: 30px;
}

.widget a {
  display: block;
  float: left;
  padding: 10px;
}

.widget a:hover {
  background-color: #777777;
}

.bottom-footer {
  width: 1920px;
  height: 111px;
  background-color: #111111;
  position: relative;
}

.div12 {
  margin-left: 376px;
  margin-top: 45px;
  width: 700px;
  float: left;
}

.div12:before {
  content: " ";
  top: 62px;
  left: 551px;
  background-image: url(../img/icon/01-post.png);
  position: absolute;
  width: 2px;
  height: 13px;
  background-color: #595f6f;
}

.div12:after {
  content: " ";
  top: 62px;
  left: 657px;
  background-image: url(../img/icon/01-post.png);
  position: absolute;
  width: 2px;
  height: 13px;
  background-color: #595f6f;
}

.div12-p {
  color: #555555;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  text-transform: capitalize;
  float: left;
}

.div12-span {
  color: #959595;
  text-transform: capitalize;
}

.div12-a1 {
  padding-top: 15px;
  padding-left: 20px;
  display: block;
  text-transform: capitalize;
  color: #555555;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  text-decoration: none;
  float: left;
}

.div12-a2 {
  padding-top: 15px;
  padding-left: 20px;
  display: block;
  text-transform: uppercase;
  color: #c7b299;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  text-decoration: none;
  float: left;
}

.div12-a3 {
  padding-top: 15px;
  padding-left: 20px;
  display: block;
  text-transform: capitalize;
  color: #555555;
  font-family: 'montserrat', 'arial', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  text-decoration: none;
  float: left;
}

.div13 {
  min-width: 320px;
  margin-left: 1226px;
  margin-top: 45px;
  position: relative;
}

.div13:before {
  content: " ";
  top: 18px;
  left: 264px;
  background-image: url(../img/icon/01-post.png);
  position: absolute;
  width: 2px;
  height: 13px;
  background-color: #595f6f;
}

.div13-p1 {
  float: left;
  color: #555555;
}

.div13-p2 {
  float: left;
  color: #555555;
  padding-left: 25px;
}

.div13-a1 {
  display: block;
  float: left;
  text-decoration: none;
  text-transform: capitalize;
  padding-left: 5px;
  padding-top: 16px;
  color: #959595;
}

.div13-a2 {
  display: block;
  float: left;
  text-decoration: none;
  text-transform: capitalize;
  color: #959595;
  padding-left: 5px;
  padding-top: 16px;
}

@media screen and (max-width: 710px) {
  .container {
    width: 605px;
    margin: 0 auto;
    border: 1px solid black;
    background-color: red;
  }
  .main-header {
    width: 605px;
    height: 136px;
    background-image: url(../img/photo-bn.jpg);
    background-size: auto;
    position: relative;
  }
  .main-article-web {
    margin-left: 0px;
    float: none;
    padding-top: 18px;
  }
  .main-article-dev {
    margin-left: 0px;
    margin-top: -38px;
  }
  .main-article-cus {
    width: 266px;
    float: left;
    margin-top: -287px;
    margin-left: 50px;
    padding-top: 0px;
  }
  .main-article-mar {
    width: 266px;
    float: left;
    margin-top: -42px;
    margin-left: 50px;
    margin-bottom: 40px;
  }
  .menu a {
    display: none;
  }
  .logo-a {
    margin-left: 0px;
  }
  .nav-menu {
    position: relative;
  }
  .nav-menu:before {
    position: absolute;
    width: 64px;
    height: 9px;
    content: " ";
    top: 4px;
    left: 451px;
    background-color: #ffffff;
  }
  .menu:before {
    position: absolute;
    width: 64px;
    height: 9px;
    content: " ";
    top: 23px;
    left: 451px;
    background-color: #ffffff;
  }
  .menu:after {
    position: absolute;
    width: 64px;
    height: 9px;
    content: " ";
    top: -15px;
    left: 451px;
    background-color: #ffffff;
  }
  .as {
    display: none;
  }
  .span-r {
    display: none;
  }
  .main-aside-span {
    display: none;
  }
  .multi {
    display: none;
  }
  .get {
    display: none;
  }
  .satis {
    display: none;
  }
  .searsh {
    direction: none;
  }
  .basket {
    display: none;
  }
  .botton-header:after {
    display: none;
  }
  .botton-header2:after {
    display: none;
  }
  .pagination {
    display: none;
  }
  input[type="search"] {
    display: none;
  }
  .main-article {
    margin-top: -862px;
  }
  .our-section {
    margin-top: -371px;
  }
  .uni {
    display: none;
  }
  .get-two {
    display: none;
  }
  video {
    height: 705px;
    margin-top: 550px;
    /*    background-image: url(../img/background-video-mobile.png);*/
    background-repeat: no-repeat;
  }
  .our-p {
    text-align: center;
    padding-left: 1px;
    width: 605px;
  }
  .our-menu {
    display: none;
  }
  .our-div1 {
    display: none;
  }
  .our-div2 {
    display: none;
  }
  .play {
    top: 660px;
    left: 38px;
  }
  .play-button {}
  .time {
    padding-top: 1px;
  }
  .main-article {
    margin-top: -800px;
  }
  .excellent {
    width: 605px;
  }
  .excellent-img {
    width: 250px;
    margin-top: 318px;
    padding-left: 1px;
    padding-top: 2px;
    float: left;
    display: block;
  }
  .excellent-span {
    width: 605px;
    margin-top: -825px;
    margin-right: 1px;
  }
  .excellent-span span {
    display: block;
    text-align: center;
    margin-left: 100px;
  }
  .excellent-span p {
    width: 605px;
  }
  .excellent-span ul {
    width: 250px;
    margin-left: 311px;
  }
  .excel-ul li:before {
    top: 188px;
    left: 321px;
  }
  .excellent-span li:after {
    left: 321px;
    top: 251px;
  }
  .excellent-span ul:before {
    top: 348px;
    left: 321px;
  }
  .excellent-span ul:after {
    left: 321px;
    top: 411px;
  }
  .recent {
    width: 605px;
  }
  .recent-h2 {
    margin-left: 183px;
  }
  .recent p {
    width: 605px;
    margin-left: -378px;
  }
  .recent-free {
    display: block;
  }
  .sep-one {
    margin-left: 100px;
    float: none;
  }
  .sep-two {
    margin-left: 100px;
  }
  .sep-free {
    margin-left: 100px;
  }
  .rec-p {
    width: 410px;
    padding-left: 402px;
  }
  .rec-but1 {
    display: none;
  }
  .rec-but2 {
    display: none;
  }
  .main-for {
    width: 605px;
  }
  .for-section {
    width: 605px;
  }
  .barber-div img {
    width: 126px;
  }
  .barber-a {
    padding-left: 20px;
  }
  .bottom-footer {
    width: 605px;
  }
  .main-footer {
    display: none;
  }
  .bottom-footer {
    height: 145px;
  }
  .div12 {
    margin-left: 111px;
    float: left;
  }
  .div13 {
    margin-left: 128px;
  }
  .div13:before {
    left: 156px;
  }
  .div12:before {
    left: 391px;
    top: 64px;
  }
  .div12:after {
    left: 441px;
    top: 64px;
  }
}